:root {

    --Red:          hsl(0, 78%, 62%);
    --Cyan:         hsl(180, 62%, 55%);
    --Orange:       hsl(34, 97%, 64%);
    --Blue:         hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue:  hsl(229, 6%, 66%);
    --VeryLightGray:hsl(0, 0%, 98%);

}

html, body {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

#view {
    background-color: var(--VeryLightGray);
    padding: 50px 0px;
}

header {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 70px auto;
}

header h2 {
    font-size: 35px; 
    color: var(--VeryDarkBlue);
    font-weight: 600;
    margin-bottom: 15px;
}

header h1 { 
    font-size: 35px; 
    font-family: 'poppins-extralight';
    color: var(--VeryDarkBlue);
    font-weight: 200;
}

header p {
    color: var(--GrayishBlue);
}

.cards-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-column {
    width: 33.33333333333333%;
    max-width: 400px;
}

.mid-column {
    width: 33.33333333333333%;
    max-width: 400px;
    margin: 0 30px 30px 30px;
}

.right-column {
    width: 33.33333333333333%;
    max-width: 400px;
}

.card {
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 10px 10px var(--GrayishBlue);
    margin: 0 auto 20px auto;
    min-width: 280px;
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.card .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.card1 .line {background-color: var(--Cyan);}
.card2 .line {background-color: var(--Red);}
.card3 .line {background-color: var(--Orange);}
.card4 .line {background-color: var(--Blue);}

.card h3 {
    color: var(--VeryDarkBlue);
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: var(--GrayishBlue);
    margin-bottom: 50px;
}

.image {
    position: absolute;
    right: 30px;
    bottom: 30px;
}



/* MEDIA QUERIES */




@media (max-width: 1240px) {

    #view {
        padding: 50px 30px;
    }

    .cards-container {
        width: 100%;
        display: block;
    }

    .mid-column {
        margin: 0 auto; 
        width: 60%;
        max-width: none;
    }

    .left-column {
        margin: 0 auto;
        width: 60%;
        max-width: none;
    }

    .right-column {
        margin: 0 auto;
        width: 60%;
        max-width: none;
    }


}

@media (max-width: 650px) {

    .mid-column { width: 100%; }

    .left-column {width: 100%; }

    .right-column {width: 100%; }

}

@media (max-width: 450px) {

    header h1,
    header h2 {
        font-size: 25px;
    }

}
